@font-face {
  font-family: "iconfont"; /* Project id 4038073 */
  src: url('iconfont.woff2?t=1684131415746') format('woff2'),
       url('iconfont.woff?t=1684131415746') format('woff'),
       url('iconfont.ttf?t=1684131415746') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shenpi:before {
  content: "\e62c";
}

.icon-qiyong:before {
  content: "\e7f5";
}

.icon-zhanghao:before {
  content: "\e655";
}

.icon-dian:before {
  content: "\ec1e";
}

.icon-zhanghaoanquan:before {
  content: "\e695";
}

